@media (min-width:992px) {
  .col-lg-8 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }
}


html{
scroll-behavior: smooth !important;
-webkit-overflow-scrolling: touch;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
}

* {
  -webkit-overflow-scrolling: touch;
}


@media (min-width: 768px) {
  #nasze-sekcje .col-md-4{
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .learn-more{
    width: 18rem !important;
  }
}

#motto{
  font-size: 40px;
  margin-bottom: 10px;
}

#under-motto{
  font-size: 26px;
}

#motto-header{
  padding-top: 100px;
}

.masthead{
  height: 100%;
}

#cotofrc-text{
  padding-left: 15px;
  padding-right: 15px;
}

ul.banner-social-buttons li{
  display: inline-flex;
}

ul.banner-social-buttons{
  padding-top: 45px;
}

#menu-mobile-button{
  margin-top: 40px;
  left: auto;
}

#frc-logo{
  max-width: 100%;
}

.content-section {
  padding-top: 75px;
  padding-bottom: 75px;
}

#mainNav .navbar-toggler{
  border: none;
}

#mainNav .navbar-toggler:focus{
  border: none;
  outline: none;
}

.navbar-collapse{
  border-top: 1px solid #b4b4b4;
}

@media (min-width: 768px) {
  #motto{
    font-size: 72px;
    margin-bottom: 35px;
  }

  #sections-motto{
    font-size:80px;
  }

  #under-motto{
    font-size: 50px;
  }
  
  #frc-logo{
    max-width: 60%;
  }

  .navbar-collapse{
    border-top: none;
  }
  
  .title{
    margin-top: 10px;
  }
}

@media (min-width: 992px){
.content-section {
    padding-top: 100px;
    padding-bottom: 100px;
}
#sections-biszczuk{
  margin-left:15%;
}
}

@media (max-width: 992px){
#mainNav{
  background-color: #2b2d2d;
}
}

.learn-more-button{
color:  #f08700;
}

.learn-more-button :hover{
color: #f5f1e3;
}

.map {
	height: 450px;
	width: 100%;
}

.member-first-name{
  font-size: 20px;
}

@media (min-width: 768px){
	.map {
		height: 450px;
		width: 100%;
	}
}

img{
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.btn-default{
  width: 180px;
}