@media (min-width:992px) {
  .col-lg-8 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }
}


html{
scroll-behavior: smooth;
}


@media (min-width: 768px) {
  #nasze-sekcje .col-md-4{
    flex: 0 0 25%;
    max-width: 25%;
  }
}